*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:"Poppins", sans-serif;
}

.flex {
    display: flex;
    justify-content: space-between;
    
}
.container {
    background-image: url(./images/background.svg);
    height: 800px;
    width: 100%;
    background-size: cover;
}
figure {
    margin: 15px 0px 0 50px;
}
.container figure img {
    width: 254px;
    height: 144px;
    margin: 55px 15px;
}
.header_nav {
    width: 626px;
    width: 826px;
    align-items: center;
    font-size: 29px;
    margin: 7px 0 0 60px;
}
.header_nav ul li {
    padding: 0 20px;
}

.header {
    height: 120px;
    width: 100%;
}

.text{
    padding: 120px 0 0 90px;
    margin-left: -1px;  
    
}
.text h1{
    color: #fff;
    margin-top: 10px;
}
.text p{
    color: #fff;
    font-size: 19px;
    font-weight: 60;
    margin-top: 19px;
}

.btn{
    margin-top: 10px;
}
h1 {
    font-size: 62px;
    margin-bottom: 6%;
}
.title {
    background-color: brown;
    height: 230px;
    width: 668px;
    margin: 10.5rem 10%;
}
.title p {
    font-size: 32px;
}
.text {
    background-color: blue;
    width: 506px;
    height: 51px;
}
